/* Generic Selectors */
body {
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 14px
    color: #333333
    background-color: #F9F9F9
}

p {
    width: 80%;
}

li {
    list-style-type: none;
    line-height: 150%
    list-style-image: url(../images/arrowSmall.gif);
}

h1 {
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 22px;
    font-weight: bold;
    color: #000000;
}

h2 {
    font-family: "Lucida Grande", Verdana, Arial, sans-serif;
    border-bottom-color: #66ccff;
    font-size: 18px;
    color: #0080ff;
    border-bottom: 1px solid
}

a:link {
    color: #0080ff;
    text-decoration: underline;
    font-weight: bold;
}

li:link {
    color: #0080ff;
    text-decoration: none;
    font-weight: bold;
}

a:visited {
    color: #0080ff;
    text-0decoration: underline;
    font-weight: bold;
}

li a:visited {
    color: #00CC00;
    text-decoration: none;
    font weight: bold;
}

a:hover {
    color: blue;
    padding-bottom: 5px;
    font-weight: bold;
    text-decoration: underline;
}

li a:hover {
    display: block;
    color: rgb (0, 96, 255);
    padding-bottom: 5px;
    font-weight: bold;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #C6EC8C;
}

a:active {
    color: rgb (255, 0,102);
    font-weight: bold;
}

#container {
    position: absolute;
    padding: 0 0 20px 0; /*top right bottom left*/
    margin-top: 50px;
    margin-left: 235px;
}
#outerDiv {
	height: 600px; 
	width: 800px; 
	border: 1px solid black; 
	position: relative; 
	overflow: hidden;
}
#innerDiv {
	position: relative; 
	left: 0px; 
	top: 0px;
}
#header {
	left: 0px;
	top: 0px;
	background-position: 0 0px;
	width: 80%;
	padding: 4px;
	background-color: #69aeff;
}
#footer {
	padding: 1px;
	background-position: 0 0px;
	width: 80%;
	background-color: #69aeff;
}

